.img-link {
  width: 75px;
  height: 75px;
  border: 2px solid #EDEEE8;
  border-radius: 50%;
  padding: 4px;
  background-color: #EDEEE8;
}

.home-link {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
