.bg {
  background-image: url(../../assets/images/homebg.jpg);
  animation: fade-in 1s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  @apply bg-no-repeat bg-center bg-cover opacity-0 w-screen h-screen z-[1] fixed;
}

/* THREE CENTER WORDS  */
.centerWords {
  @apply z-10 flex justify-center items-start flex-col text-green scale-[0.90];
  animation: scale 1s forwards cubic-bezier(0.5, 1, 0.89, 1);
  background-color: none;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.three-words1,
.three-words2,
.three-words3 {
  opacity: 1;
  filter: blur(1);
  font-size: 36px;
}

.three-words1 {
  animation: fade-out 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation-delay: .5s;
}

.three-words2 {
  animation: fade-out 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  margin-right: 4rem;
  animation-delay: 1s;
}

.three-words3 {
  animation: fade-out 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  margin-right: 4rem;
  animation-delay: 1.5s;
}

@keyframes fade-out {
  100% {
    opacity: 0;
    filter: blur(10px);
  }
}

/* CENTER BUTTON */
.centerBtn {
  @apply opacity-0 w-40 text-2xl text-center text-white z-10 bg-transparent px-md py-sm rounded-3xl border border-white duration-300 transition-all fixed bottom-[5vh] hover:bg-white hover:text-brown;
  animation: fade-in 1s 2.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  left: calc(50vw - 80px);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(1);
  }
}