.body{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background: #D6CCC2;
    color: #31393C;
}
.terms{
    padding: 2rem;
    margin: 5rem 2rem 2rem 2rem;
    background: linear-gradient(0deg, #D6CCC2 0%, #EDEEE8 100%);
}
.terms ul {
    list-style: none;
}
.terms ul li{
    text-align: justify;
    text-justify: inter-word;
    line-height: 2rem;
}
