
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
a,
button {
    font-family: IRANRounded !important;
    color: #31393C;
}

.terms {
    padding: 2rem;
    background: linear-gradient(0deg, #D6CCC2 0%, #EDEEE8 100%);
}

.terms ul {
    list-style: none;
}

.terms ul li {
    text-align: justify;
    text-justify: inter-word;
}