@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
} */

/* FONT */
@font-face {
  font-family: IRANRounded;
  font-style: normal;
  font-weight: 900;
  src: url("./assets/font/fonts/eot/IRAN-Rounded.eot");
  src: url("./assets/font/fonts/eot/IRAN-Rounded.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */
    url("./assets/font/fonts/woff/IRAN-Rounded.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("./assets/font/fonts/ttf/IRAN Rounded.ttf") format("truetype");
}

/*    FOR PERSIAN FONTS */
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
a,
p,
div {
  font-family: IRANRounded !important;
}

body {
  overflow-y: scroll;
  /* Ensures that vertical scroll is always present to prevent layout shift */
  scrollbar-width: none;
  /* For Firefox */
}

body::-webkit-scrollbar {
  display: none;
  /* For WebKit browsers like Chrome and Safari */
}


* {
  direction: rtl;
}

.input-primary-theme {
  @apply text-brown border border-primary-light placeholder-ajori focus:outline-1 focus:outline-primary autofill:bg-primary-light;
}

.btn-primary-theme {
  @apply text-white rounded-[32px] hover:text-ajori bg-ajori duration-300 hover:bg-brown hover:border-2 hover:border-ajori;
}

.btn-primary-active {
  @apply text-primary-light border-primary-light bg-brown;
}

.btn-cancel {
  @apply text-error border-normal border-error hover:bg-error hover:text-brown;
}

.btn-shop {
  @apply h-6 rounded-[4px] text-[10px] flex items-center gap-2 bg-none justify-center w-full;
}

.btn-user-panel-controller {
  @apply border border-brown rounded-[32px] flex gap-2 items-center text-sm whitespace-nowrap text-brown px-2 py-1 w-auto
}

.btn-user-panel-controller-active {
  @apply bg-brown text-ajori
}

/* dropdown multi select styles */
.rmsc {
  --rmsc-main: #D6CCC2 !important;
  --rmsc-bg: #31393C !important;
  --rmsc-hover: #D6CCC2 !important;
  --rmsc-selected: #D6CCC2 !important;
  --rmsc-gray: #EDEEE8 !important;
  --rmsc-radius: 8px !important;
  --rmsc-h: 3rem !important;
}

.dropdown-content div * {
  margin-right: 3px;
}

img,
video {
  max-width: none;
}

#root {
  width: 100vw;
  min-height: 100vh;
}

@keyframes fadeBackground {
  0% {
    opacity: 0.9;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 0.9;
  }
}

.animated-bg {
  animation: fadeBackground 4s infinite;
}